#pragma once

#include<string>
#include<vector>
#include<memory>
#include<cstddef>

#include "meta/Reflection/Reflection_Instance.h"

{{#Include_Define_List}}
#include "{{& Src_File_Path}}"
{{/Include_Define_List}}

{{#Class_Define_List}}
namespace {{Class_NameSpace}}{

    using std::string;
    using std::vector;
    using std::shared_ptr;
    using std::make_shared;
    using std::static_pointer_cast;

    using NameSpace_Core::NameSpace_Meta::NameSpace_Reflection::Reflection_Instance;

    class Reflection_{{& Class_Display_Name}}_Operator {
    public:
        static const string Get_Spelling(void){
            return string{"{{& Class_Spelling}}"};
        }

        static const string Get_Displaying_Name(void){
            return string{"{{& Class_Display_Name}}"};            
        }

        {{#Class_Base_Class_Define_List}}
            static const vector<Reflection_Instance<{{& Class_Spelling}}>> Get_Base_Class_Reflection_Instance_List(shared_ptr<{{Class_Spelling}}> Instance){
                vector<Reflection_Instance<{{Class_Spelling}}>> Table;

                    {{#Class_Base_Spelling_List}}
                        Table.emplace_back(string{"{{& Class_Base_Class_Spelling}}"},static_pointer_cast<{{& Class_Base_Class_Spelling}}>(Instance));
                    {{/Class_Base_Spelling_List}}

                return Table;
            }
        {{/Class_Base_Class_Define_List}}

        {{#Field_Define_List}}
            static const string Get_{{& Field_Display_Name}}_Type_Spelling(void){
                return string{"{{& Field_Type_Spelling}}"};
            }

            static const string Get_{{& Field_Display_Name}}_Spelling(void){
                return string{"{{& Field_Spelling}}"};
            }


            static const string Get_{{& Field_Display_Name}}_Display_Name(void){
                return string{"{{& Field_Display_Name}}"};
            }

            static const {{& Field_Type_Spelling}}& Get_{{& Field_Display_Name}}_Attribute(shared_ptr<{{& Class_Spelling}}> Instance){
                return Instance->{{& Field_Spelling}};
            }

            static void Set_Field_{{& Field_Display_Name}}_Attribute(shared_ptr<{{& Class_Spelling}}> Instance, const {{& Field_Type_Spelling}}& Value){
                Instance->{{& Field_Spelling}}=Value;
            }

            static const bool Is_Filed_{{& Field_Display_Name}}_CPPVector(void){
                return {{#Filed_Is_CPPVector}} ! {{/Filed_Is_CPPVector}} false;
            }

            {{#Filed_CPPVector_Define_List}}
                static const string Get_{{& Field_Display_Name}}_CPPVector_Element_Type_Spelling(void){
                    return string {"{{& Filed_CPPVector_Element_Type_Spelling}}"};
                }

                static const size_t Get_{{& Field_Display_Name}}_CPPVector_Capacity(shared_ptr<{{& Class_Spelling}}> Instance){
                    return Instance->{{& Field_Spelling}}.capacity();
                }

                static const size_t Get_{{& Field_Display_Name}}_CPPVector_Size(shared_ptr<{{& Class_Spelling}}> Instance){
                    return Instance->{{& Field_Spelling}}.size();
                }

                static const {{& Filed_CPPVector_Element_Type_Spelling}}& Get_{{& Field_Display_Name}}_CPPVector_Element(shared_ptr<{{& Class_Spelling}}> Instance, size_t Index){
                    return Instance->{{& Field_Spelling}}[Index];
                }

                static void Set_{{& Field_Display_Name}}_CPPVector_Element(shared_ptr<{{& Class_Spelling}}> Instance, size_t Index, const {{& Filed_CPPVector_Element_Type_Spelling}}& Value){
                    Instance->{{& Field_Spelling}}[Index]=Value;
                }

                static void Reserve_{{& Field_Display_Name}}_CPPVector(shared_ptr<{{& Class_Spelling}}> Instance, size_t Capacity){
                    Instance->{{& Field_Spelling}}.reserve(Capacity);
                }

                static void Push_Back_{{& Field_Display_Name}}_CPPVector(shared_ptr<{{& Class_Spelling}}> Instance, const {{& Filed_CPPVector_Element_Type_Spelling}}& Value){
                    Instance->{{& Field_Spelling}}.push_back(Value);
                }
            {{/Filed_CPPVector_Define_List}}

        {{/Field_Define_List}}

    };
   
}// NameSpace_Core::NameSpace_Meta::NameSpace_Generated::NameSpace_Reflection
 {{/Class_Define_List}}